<div id="app-movie-detail" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">

  <div fxLayout="column" fxLayoutGap="8px">
    <div>
      {{detail.backdrop_path}}
    </div>
    <div>
      {{detail.poster_path}}
    </div>
    <div>
      {{detail.overview}}
    </div>
    <div>
      <label>Language: </label>
      {{detail.original_language}}
    </div>
    <div>
      <label>Popularity: </label>
      {{ detail.popularity}}
    </div>
    <div>
      <label>Release Date: </label>
      {{ detail.release_date}}
    </div>
    <div>
      <label>Revenue: </label>
      {{ detail.revenue}}
    </div>
  </div>

</div>